# build outputs
build/
edge_device/build/
cmake-build-*/
data/

# TensorFlow / deps
tf_build/
tflite_build/
_deps/

# binaries / archives
*.a
*.so
*.o
*.bin
*.zip
*.tar
*.tar.gz

# Python
__pycache__/
*.pyc
.venv/

# OS/editor
.DS_Store
*.swp
